<h4>nome da receita</h4>

<p>Porcentagem de lucro..............................{{ gastosDiretos }}</p>
<p>Rendimento........................................{{ rendimento }}</p>
<p>Custo dos materiais...............................{{ custoDosMateriais }}</p>
<p>Custo adicionais..................................{{ gastosAdicionais }}</p>
<p>Custo por unidade.................................{{ custoPorUnidade }}</p>
<p>Custo total da receita............................{{ custoTotal }}</p>
<p>valor de venda por unidade........................{{ valorDeVenda }}</p>
<p>Lucro total.......................................{{ lucroTotal }}</p>
