<section>
  <h1>Adicionar Materiais</h1>

  <div>
    <div *ngFor="let material of listaMateriais">
      <ul>
        <li>
          <input type="checkbox" [(ngModel)]="material.selecionado">
          {{ material.nome }}

          <input *ngIf="material.selecionado" type="number" [(ngModel)]="material.quantidade"
            placeholder="{{ material.unidadeDeMedida }}">
          <p>{{ material.valor }}</p>
          <p>{{ material.custo }}</p>
        </li>
      </ul>
    </div>
  </div>
  <button (click)="adicionarMaterial()">Adicionar</button>
</section>
