<section>
  <div>
    <button routerLink="criar-lista-de-compras/a" type="button">Criar lista</button>
  </div>
  <div>
    <button routerLink="lista-por-receita" type="button">Lista de ingredientes </button>
  </div>
  <div>
    <button routerLink="historico-de-compras" type="button">Historico de compras</button>
  </div>
  <div>
    <h2>Listas</h2>
    <div *ngFor="let item of listaDeComprasPronta ">
         <app-lista-de-compra [listaDeComprasPronta]="item"  (recarregarLista)="listarListasDeCompras()"></app-lista-de-compra>
    </div>

  </div>
</section>
